<nav class="nav">
    <div class="nav-brand">
        <div>
           <a href="/">
            <img src="images/icon-1.svg" />
        </div>
        <span style="margin-left: 10px;">RSTATES</span>
           </a>
    </div>
    <ul class="nav-lists">
        <li class="list-items"><a href="/categories">Browse Categories</a></li>
        <li class="list-items"><a href="/categories">Services</a></li>
        <li class="list-items"><a href="/login">Login</a></li>
        <li class="list-items"><a href="/signup">Signup</a></li>
    </ul>
    <div class="nav-bar">
        <i class="icon-bars"></i>
    </div>
</nav>