<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refrdesh" content="3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Real Estate</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/reg.css">
	<link rel="stylesheet" href="/fonts/icomoon/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
    <%- include('./partials/unauthorisedNav') %>
    <!--reg section...-->
    <section class="reg-section">
        <div class="section-row">
                <img src="/images/msls/Online Review-pana.png" />
                <h4>Sign Up to Make Purchase</h4>
        </div>
        <div class="section-row">
            <div class="check-mate">
                <span>Already have an account?</span>
                <div class="reg">
                    <a href="/login">Login</a>
                </div>
            </div>
            <h3>Welcome! You're ready to make a Purchase</h3>
            <div class="reg-form">
                <form method="post" action="/signup" id="signupForm" >
                    <% if(flashMessages.errors){ %>
                        <div class="form-error">
                            <% flashMessages.errors.forEach((error)=>{ %>
                                <strong><%= error.msg %>!</strong>
                              <% }) %>
                        </div>
                        <strong><%= user.fname %>!</strong>
                    <% } %>
                    <div class="form-input">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter First name" class="form-input" name="fname" value=""/>
                        <span class="input-err"></span>
                    </div>
                    <div class="form-input">
                        <label>Last Name</label>
                        <input type="text" placeholder="Enter Last name" class="form-input"   name="lname"/>
                        <span class="input-err"></span>
                    </div>
                    <div class="form-input">
                        <label>Email Address</label>
                        <input type="email" placeholder="Enter Email Address" class="form-input"  name="email"/>
                        <span class="input-err"></span>
                    </div>
                    <div class="form-input">
                        <label>Password</label>
                        <input type="password" placeholder="Enter Password" name="password"/>
                        <span class="input-err" style="color: rgb(246, 72, 72);
                        font-weight: 500;"></span>
                    </div>
                    <div class="form-input">
                        <label>Comfirm Password</label>
                        <input type="password" placeholder="Comfirm password" name="comf_password"/>
                    </div>
                    <div class="form-input">
                        <button type="submit" >Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<style>
    .input-err{
    color: rgb(246, 72, 72);
    font-weight: 500;
}
</style>
<script type="text/javascript">
        $(document).ready(function(){
           $('.nav-bar').on('click',function(){
               $("nav ul").slideToggle();
           })
        })
    const signupForm = document.getElementById('signupForm');
    const signupFormInputs = document.querySelectorAll('#signupForm input')

    signupForm.onsubmit  = async (e) =>{
        e.preventDefault();
        var formData = {};
        signupFormInputs.forEach(elm => {
            formData[elm.name] = elm.value
        });
        try {
            const res = await fetch("/signup",
            {
                method:"POST",
                body:JSON.stringify(formData),
                headers:{
                    "Content-Type":"application/json"
                }
            }
            );
            const data = await res.json();
            if (data.success) {
                window.location.assign("/")
            } else {
                dispatchFieldsError(data);
            }
        } catch (error) {
            
        }
    }

    function dispatchFieldsError(errors){
        signupFormInputs.forEach(input =>{
            input.nextSibling.nodeValue = "";
            errors.forEach(err=>{
                if(err.param === input.name){
                    input.nextSibling.nodeValue = err.msg
                }
            })
        })
    }
    </script>
</body>
</html>